* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  backdrop-filter: blur(2px);
  background: url(disaster1.jpg) no-repeat center center/cover;
  position: relative;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formcontainer {
  height: 440px;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  color: black;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  border-bottom: 2px solid #ccc;
}

.tabs button {
  flex: 1;
  padding-bottom: 35px;
  font-size: 20px;
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.login {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 14px;
  padding-left: 20px;
  margin: 18px 40px 30px 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.create {
  margin: 0 40px 0 40px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.create {
  border: 2px solid mediumspringgreen;
  background-color: mediumspringgreen;
  color: white;
  margin-top: 30px;
}

.create:hover {
  background-color: white;
  color: mediumspringgreen;
}

.container {
  display: none;
  position: fixed;
  top: 30%;
  left: 32.5%;
  width: 475px;
  height: min-content;
  background: white;
  padding: 30px;
  text-align: center;
  border-radius: 12px;
}

.icon {
  display: grid;
  place-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto 12px;
  background: black;
}

img {
  width: 70px;
  height: 70px;
}

h4 {
  font-size: 22px;
  color: black;
  font-family: 'Inter', sans-serif;
}

.container form {
  width: 100%;
}

.form-group {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0 36px;
}

form div input {
  width: 56px;
  height: 56px;
  background: #f0f0f0;
  margin: 0 8px;
  font-size: 25px;
  text-align: center;
  border-radius: 3px;
  color: transparent;
  text-shadow: 0 0 0 black;
  transition: .1s ease-in-out;
}

form div input::-webkit-inner-spin-button {
  display: none;
}

form+div+input:focus {
  outline-offset: 3px;
  outline: 2px solid black;
}

.active {
  border: 2px solid white;
  cursor: pointer;
  color: white;
  background: mediumspringgreen;
  width: 100%;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  letter-spacing: .5;
  pointer-events: none;
  opacity: .8;
  transition: .3s;
}

.active {
  opacity: 1;
  pointer-events: auto;
}

.active:hover {
  color: mediumspringgreen;
  background: white;
  border: 2px solid mediumspringgreen;
}